@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* top bar */
body {
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
}
.top-bar {
  background-color: #14297a;
  color: white;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999999;
  row-gap: 20px;
  @media (max-width: 991px) {
    flex-direction: column;
    align-items: center;
    #home {
      display: none !important;
    }
  }
  .goog-te-gadget {
    width: 120px;
    overflow: hidden;
    select {
      outline: none !important;
      border: none !important;
    }
  }

  #top-sub-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .hamburger-menu {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

    .menu-top-icon i {
      border: 1px solid #eee;
      font-size: 12px;
      padding: 0.3rem 0.6rem;
      border-radius: 5px;
    }

    @media (min-width: 600px) {
      display: none !important;
    }
  }

  @media (max-width: 600px) {
    #top-sub-section {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      display: none;
      ul:nth-child(1){
        margin-bottom: 10px;
      }
      ul:nth-child(2){
        li{
          padding-left: 0px;
          margin-left: 0;
          &.controllers{
            padding: 5px;
          }
        }
      }
    }
  }
}

.top-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width:1600px){
    margin-right: 0px !important;
  }
}

.top-bar li,
.top-bar button {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;

  @media (max-width:1536px){
    font-size:12px !important;
  }
}

.top-bar ul a,
.top-bar ul button {
  padding: 0 10px;
  border: none !important;
  outline: none;
  border-right: 1px solid #fff !important;
  text-decoration: none !important;
  &:nth-last-child(1) {
    border-right: none;
  }
  &:hover {
    text-decoration: none !important;
  }
}
.top-bar ul a li,
.top-bar ul li {
  cursor: pointer;
  color: #fff;
}

.top-bar ul li:hover {
  text-decoration: underline;
}

.top-bar li:first-child {
  margin-left: 0;
}
/* Custom CSS */
.navbar {
  background-color: #14297a;
  padding: 0;

  @media (max-width:600px){
    padding: 5px !important;
  }
}
.navbar-nav .nav-link {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.dropdown-menu {
  overflow: hidden;
  a {
    background-color: #FFF !important;
    font-weight: 400;
    transition: 0.3s;
    font-size: 1rem;
    &:hover {
      transform: translateX(5px);
    }
    @media (max-width:600px){
      font-size: 0.7rem !important;
    }
  }
  background-color: #FFF !important;
}

.nav-item {
  font-weight: 400;
}
.ec {
  font-weight: 400;
  font-size: 14px;
}

/* body {
            font-size: 18px;
            font-family: 'work sans', 'Arial', sans-serif;
            font-weight: 300;
        } */

#navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #14297a;
  padding: 10px 20px;
}

.nav {
  margin-right: 2%;
  margin-bottom: 0;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-items: flex-end;
  color: white;
}

.nav ul li {
  list-style: none;
  margin: 4px;
  font-size: 14px;
}

/* ----main-nav---- */
#main-nav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 60px;
  justify-content: space-between;
  margin-top: 48px !important;
}

.logo {
  /* width: 45%; */
}
@media (max-width: 991px) {
  .logo {
    width: 100%;
  }
}
.nav-img {
  /*  margin: 20px;
  margin-bottom: 0;
  margin-left: 50px;
  padding-bottom: 0; */
}

.nav-img img {
  width: 4vw;
}



@media screen and (max-width: 768px) {
  .nav-img img {
    width: 25vw;
  }
}

.nav-img p {
  font-size: 10px;
  line-height: 20px;
  font-weight: 600 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444444;
  padding: 0;
  margin: 0;
}

.nav-content {
  margin-right: auto;
  flex: 1;
  line-height: 1rem;
  padding-left: 14px;
}

.nav-content h1 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #1c4e92;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.nav-content h4 {
  font-size: 13px;
  margin-bottom: 7px;
  color: #000;
  font-weight: 600;
}

.nav-content p {
  font-size: 11px;
  font-weight: 400 !important;
  margin: 0;
  padding: 0;
}

.nav-content p span {
  color: #000;
}

.searchs {
  /* width: 55%; */
  /* justify-content: end; */
}
#search {
  width: 60%;
  margin-right: 15px;
  display: flex;
  justify-content: end;
}

#searchinput {
  /* width: 70%; */
  background-color: #f0f6fd;
  /* border: 2px solid #14297a !important; */

  border-radius: 18px;
  border: 2px;
  padding: 0 10px;
  justify-content: center;
  color: #171717;
  outline: none;
}
#searchinput::placeholder {
  color: #171717;
}

form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 14px 15px;
  font-size: 16px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  width: 90%;
  outline: none;
}

button[type="submit"] {
  overflow: hidden;
  width: 40px;
  height: 52px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent;
  cursor: pointer;
  opacity: 1;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

input[type="search"]:focus {
  box-shadow: 0 0 0px 0 #1183d6;
  border-color: #ffffff00;
  outline: none;
}

button[type="submit"]:focus {
  box-shadow: 0 0 0px 0 #1183d6;
  border-color: #ffffff00;
  outline: none;
}

.d-flex {
  align-items: center;
}

.nav-btn {
  display: flex;
  align-items: center;
  z-index: 100;
}

.nav-btn .first-button {
  white-space: nowrap;
  border-radius: 40px;
  background-color: #f4c751;
  color: #14297a;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}
.nav-btn .second-button {
  white-space: nowrap;
  border-radius: 0 40px 40px 0;
  padding: 9px 15px;
  margin-left: -21px;
  z-index: -1;
  color: #fff;
  text-decoration: none;
  padding-left: 30px;
  font-size: 17px;
  font-weight: 600 !important;
  background: #14297a;
}
.nav-btn-2 {
  display: flex;
  align-items: center;
  /*margin-right: 50px;*/
}

.nav-btn button {
  border-radius: 20px;
  background-color: #f4c751;
  margin: 10px;
  padding: 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.nav-btn-2 button {
  border-radius: 20px;
  background-color: #14297a;
  margin: 0px;
  /* padding: 10px; */
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding-left: 41px;
  padding-top: 9px;
  padding-right: 13px;
  padding-bottom: 9px;
  margin-left: -90px;
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: start;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    margin-right: 0;
    flex-basis: 100%;
    text-align: center;
  }

  .nav ul {
    justify-content: center;
  }

  .nav ul li {
    margin: 0 8px;
  }
}

.dropdown-menu {
  background-color: #ffdfd0;
}

.dropdown-menu .row {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
  padding-bottom: 5px;
}

.dropdown-menu.mt-0 {
  /* width: 95%; */
  width: 50%;
  /* margin-left: 10px;  */
  margin-left: 350px;
  border-radius: 25px !important;
  overflow: hidden;
}

@media screen and (max-width:830px){
  .dropdown-menu.mt-0{
    width: 95% !important;
    margin-left: 0px !important;
  }
}

.dropdown-menu h4 {
  background: #14297a;
  border-radius: 5px;
  padding: 0px;
  color: #fff;
}
.list-group-flush {
  background: transparent !important;
  border-radius: 0;
  --bs-list-group-bg: transparent;
}
.list-group-flush > .list-group-item {
  border-width: 0;
}
.dropdown-toggle::after {
  display: none !important;
}
a.list-group-item.list-group-item-action {
  line-height: 1.2rem;
  padding-top: 0;
  font-weight: 400;
}

.dropdown-item {
  font-weight: 400;
}

.dropdown-item:hover {
  background-color: #ffdfd0;
}

/* css slider */
.slider {
  height: 100vh;
  /* margin-top: -30px; */
  position: relative;
}
.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  /* background-image: linear-gradient(
      to top, #000 40%, transparent
  ); */
}
.slider .list .item .content {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
}
.slider .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 10px;
}
.slider .list .item .content h2 {
  font-size: 100px;
  margin: 0;
}
.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}
@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}
.slider .list .item.active h2 {
  animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3) {
  animation-duration: 1.3s;
}
.arrows {
  position: absolute;
  top: 30%;
  right: 50px;
  z-index: 100;
}
.arrows button {
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: 0.5s;
}
.arrows button:hover {
  background-color: #eee;
  color: black;
}
.thumbnail {
  position: absolute;
  bottom: 50px;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 250px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}
.thumbnail::-webkit-scrollbar {
  width: 0;
}
.thumbnail .item {
  width: 150px;
  height: 220px;
  filter: brightness(0.5);
  transition: 0.5s;
  flex-shrink: 0;
}
.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.thumbnail .item.active {
  filter: brightness(1.5);
}
.thumbnail .item .content {
  position: absolute;
  inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
  .thumbnail {
    justify-content: start;
  }
  .slider .list .item .content h2 {
    font-size: 60px;
  }
  .arrows {
    top: 10%;
  }
}

.dropdown-hover:hover > .dropdown-menu {
  display: inline-block;
  left: 0;
}

.dropdown-hover > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.navbar {
  /*margin-top: -10px;
   flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: thin; */
}

.plus-icon {
  color: #f4c751;
}

.header {
  display: none;
}

@media screen and (max-width: 480px) {
  .header {
    display: block;
  }
}

/* @media (max-width: 767px) {
  .navbar {
    display: none;
  }
} */

@media (max-width: 991px) {
  #main-nav {
    padding: 10px 10px !important;
  }
}

.footer {
  background-color: #14297a;
}

.footer .pb-20 {
  padding-bottom: 20px !important;
}

.footer .pt-40 {
  padding-top: 40px !important;
}

.footer .p-40 {
  padding: 40px !important;
}

.footer .container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.footer .card {
  /* Padding inside the card */
  background-color: silver; /* Silver background color */
  color: black; /* Black text color */
  border-radius: 25px;
}
.footer .card-text {
  line-height: 1.2rem; /* Decreased line height */
  color: BLACK;
}
.footer .card-body .col-md-6 {
  padding: 5px; /* Decreased gap between columns inside card */
}

.footer strong {
  font-weight: 500;
  text-align: center;
}
.footer p {
  color: white;
  padding-left: 1rem;
  text-align: left;
  @media (max-width: 991px) {
    padding-left: 0;
  }
}

.footer img {
  padding-left: 1rem;
  @media (max-width: 991px) {
    padding-left: 0;
  }
}

.footer .widget-dark h6 {
  padding-left: 1rem;
}

.footer a {
  /* color: #c3c0c0; */
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  @media (max-width: 1366px) {
    font-size: 11px;
    b {
      font-size: 13px !important;
    }
  }
}

.footer .styled-icons {
    padding-left: 0 !important;
  
  @media (max-width: 991px) {
    padding-left: 0;
  }
}
.footer .styled-icons li {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}

.footer .widget {
  text-align: center;
}

.footer .widget.dark .widget-title {
  color: #fff !important;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

.footer .widget .widget-title {
  /* margin-top: 0; */
  margin-bottom: 0 !important;
}

.footer .line-bottom-theme-colored-2 {
  position: relative;
  padding-bottom: 8px;
}

.footer .pt-15 {
  padding-top: 15px !important;
}

.footer .widget .list-border li {
  margin-bottom: 0;
  padding: 3px 0 4px;
  /* border-bottom: 1px dotted #5a5a5a; */
  display: block;
  /* float: left; */
}

.footer li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.footer .line-bottom-theme-colored-2:after {
  border-radius: 10px;
  bottom: -4px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 85px;
  background: #f4c751;
}

.footer .widget ul li {
  /* margin-bottom: 5px; */
  padding-bottom: 5px;
}

.footer .m-0 {
  margin: 0 !important;
}

.footer .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .footer .col-md-2{
            position:relative
        } */

.footer ul.angle-double-right.list-border.pt-15 {
  text-align: left;
  margin: 0;
  padding: 0;
}

.footer .list-border li {
  list-style-position: inside;
}

.footer .styled-icons i {
  /* background-color: white; */
  border-radius: 50%;
  border: 2px solid white;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .styled-icons i:hover {
  border: 2px solid #f4c751;
}

.fa-linkedin:hover {
  color: #f4c751 !important;
}
.fa-instagram:hover {
  color: #f4c751 !important;
}
.fa-youtube:hover {
  color: #f4c751 !important;
}
.fa-twitter:hover {
  color: #f4c751 !important;
}
.fa-facebook:hover {
  color: #f4c751 !important;
}

/* Anouncement bar */
/* .container-fluid{
        left: 0;
        right: 0;
      } */
.ticker {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  /* height: 20px; */
  margin: 0 auto;
  /* left: 0;
        right: 0; */
}
.news {
  width: 80%;
  /* background: blue; */
  /* padding: 0 2%; */
}
.ticker .title {
  width: 20%;
  text-align: center;
  background: #f4c751;
  position: relative;
  z-index: 100;
  height: 70px;
}
.title:after {
  position: absolute;
  content: "";
  right: -16%;
  border-left: 20px solid #c81c1c;
  border-top: 33px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 33px solid transparent;
  top: 0;
  justify-content: center;
}
.title h5 {
  font-size: 18px;
  margin: 8% 0;
}

.scroll-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.scroll-btn i {
  color: #325f9d;
  font-size: 20px;
}

.scroll-btn-left {
  left: 10px;
}

.scroll-btn-right {
  right: 10px;
}

.scroll-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  fill: white;
}

.scroll-icon-left {
  left: 10px;
}

.scroll-icon-right {
  right: 10px;
}

/* testing */
.view-all-button {
  position: relative;
  display: inline-block;
}

.view-all-button a {
  background-color: #f0f0f0;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-decoration: none;
}

.view-all-button:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f0f0f0;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  transform: rotate(-45deg);
  top: -6px;
  left: calc(50% - 5px);
}

/* footer weather */
.weather-container {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-icon img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.weather-details {
  flex: 1;
}

.weather-details h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  @media (max-width: 1366px) {
    font-size: 15px;
  }
}

.weather-details p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  @media (max-width: 1366px) {
    font-size: 11px;
  }
}

@media screen and (max-width: 1450px) {
  #searchinput {
    width: 330px !important;
  }
  #main-nav {
    padding: 20px 30px !important;
  }
  #realtime {
    font-size: 11px;
  }
}

@media screen and (max-width: 1415px) {
  #searchinput {
    width: 330px !important;
  }
  .nav-btn .first-button {
    font-size: 16px !important;
  }
  .nav-btn .second-button {
    font-size: 16px !important;
  }
  .nav-btn .second-button img {
    height: 16px !important;
  }
  #search {
    width: 45% !important;
  }
}

@media screen and (max-width: 1366px) {
  #main-nav {
    padding: 10px 30px;
  }
  .nav-content h1 {
    font-size: 20.3px;
  }
  .nav-content h4 {
    font-size: 14px;
  }
  .nav-content p {
    font-size: 12.3px;
  }
  #searchinput {
    width: 360px;
  }
  .nav-img img {
    width: 100px;
    height: 112px;
  }
  .nav-img p {
    font-size: 18px;
  }
  .nav-btn-2 button {
    border-radius: 20px;
    background-color: #14297a;
    margin: 0px;
    margin-left: -90px;
  }
  .nav-item {
    font-weight: 400;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 12px;
  }

  .ec {
    font-weight: 400;
    font-size: 12px;
  }
}
@media screen and (max-width: 1350px) {
  #searchinput {
    width: 300px !important;
  }
}

@media screen and (max-width: 1240px) {
  #main-nav {
    padding: 40px 30px !important;
  }
}

@media screen and (max-width: 1220px) {
  #searchinput {
    width: 250px !important;
  }
  #search {
    width: 38% !important;
  }
}

@media screen and (max-width: 1200px) {
  #searchinput {
    width: 215px !important;
  }
}
@media screen and (max-width: 1028px) {
  #searchinput {
    width: 190px !important;
  }
}

@media screen and (max-width: 991px) {
  #searchinput {
    width: 100% !important;
  }
  #search {
    width: 100% !important;
  }
  .searchs {
    width: 100% !important;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 600px) {
  #main-nav {
    margin-top: 50px !important;
    padding-top: 0 !important;
  }
  .searchs {
    flex-wrap: wrap;
    justify-content: space-between;
    #search {
      margin: 0 !important;
    }
  }
  .nav-btn {
    margin-top: 10px;

    width: 100%;
    display: flex;
    justify-content: space-between;
    /* gap: 20px !important; */
  }
  .nav-img p {
    font-size: 15px !important;
  }
  .logo .nav-content p {
    font-size: 12px !important;
  }
  .logo .nav-content h4 {
    font-size: 13px !important;
  }
  .logo .nav-content h1 {
    font-size: 14px !important;
  }
  .nav-btn .first-button {
    width: calc(50% - 10px) !important;
    white-space: nowrap;
    border-radius: 40px;
    background-color: #f4c751;
    color: #444444;
    padding: 10px;
    text-decoration: none;
    font-size: 10px !important;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-btn .second-button {
    width: calc(50% - 10px) !important;
    white-space: nowrap;
    border-radius: 40px;
    padding: 10px;
    z-index: -1;
    color: #fff;
    text-decoration: none;
    font-size: 10px !important;
    font-weight: 600 !important;
    background: #14297a;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchs #searchinput button[type="submit"] {
    height: 34px !important;
  }
  .searchs #searchinput input[type="search"] {
    padding: 0px 15px !important;
    font-size: 12px;
  }
  #main-nav {
    padding: 20px !important;
    padding-top: 0 !important;
  }
  #carouselInnerID {
    display: none;
  }

  .carousel-control-next,
  .carousel-control-prev {
    display: none !important;
  }
}

@media screen and (max-width: 1680px) {
  #main-nav {
    padding: 10px 30px;
  }
  .nav-content h1 {
    font-size: 14px;
  }
  .nav-content h4 {
    font-size: 12px;
  }
  .nav-content p {
    font-size: 10px;
  }
  #searchinput {
    width: 380px;
  }
  .nav-img img {
    width: 60px;
    height: 70px;
  }
  .nav-img p {
    font-size: 10px;
  }
  .nav-btn-2 button {
    border-radius: 20px;
    background-color: #14297a;
    margin: 0px;
    margin-left: -90px;
  }
  .nav-item {
    font-weight: 400;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-size: 13px;
  }

  .ec {
    font-weight: 400;
    font-size: 12px;
  }
}

@media screen and (max-width: 1680px) {
  .navbar-dark .navbar-nav .nav-link,
  .top-bar li,
  .top-bar button {
    font-size: 13px;
  }
}

@media screen and (max-width: 1500px) {
  .navbar-dark .navbar-nav .nav-link,
  .top-bar li,
  .top-bar button {
    font-size: 11px !important;
  }
}

@media (max-width: 1440px) {
  .navbar-dark .navbar-nav .nav-link {
    font-size: 11px;
  }
}

@media (max-width:1370px){
  .nav-content h1 {
    font-size: 16px;
  }
  .nav-content h4 {
    font-size: 14px;
  }
  .nav-content p {
    font-size: 12px;
  }
}

@media (max-width: 991px) {
  #mainSlider {
    margin-bottom: 0 !important;
  }
  .carousel-inner {
    padding: 5px !important;
  }
  .carousel-item {
    height: auto !important;
  }

  .gallery {
    margin-top: 0 !important;
    overflow: hidden;
  }
  .gallery .carousel-item-gallery {
    display: flex;
  }
  .gallery-img {
    width: 150px !important;
    height: 75px !important;
    border-radius: 5px !important;
  }
  .searchs {
    /* display: none !important; */
  }
  .logo {
    margin-left: 10px;
    margin-top: 20px;
  }
  .logo .nav-img {
    margin: 0 !important;
  }
  .logo .nav-img p {
    margin: 0 !important;
  }
  .logo .nav-content {
    padding-left: 10px;
  }
  .logo .nav-content h1 {
    font-size: 17px;
  }
  .logo .nav-content h4 {
    font-size: 15px;
  }
  .logo .nav-content p {
    font-size: 14px;
  }
}

/* hero banner css */
.ombre-interne {
  background: linear-gradient(
      45deg,
      rgba(50, 95, 157, 0.76),
      rgba(50, 95, 157, 0.76)
    ),
    url("../../../assests/images/s1.jpg") no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* -webkit-box-shadow: inset 8px 0px 14px -1px rgba(0, 0, 0, 0.4);
-moz-box-shadow: inset 8px 0px 14px -1px rgba(0, 0, 0, 0.4);
box-shadow: inset 8px 0px 14px -1px rgba(0, 0, 0, 0.4); */
  padding: 10px 0 0 0;
}

.carousel-inner {
  max-width: 1448px;
  margin: auto;
}

.gallery img {
  border-radius: 25px;
  border: 2px solid #fff !important;
}

#carouselExample {
  margin-top: 10px !important;
  background: rgba(16, 29, 80, 0.4);
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .ombre-interne {
    padding-left: 5vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
  }
}

/* Custom CSS for the announcement bar */
.announcement-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.announcement-heading {
  color: #000;
  /* Black text color */
  padding-left: 20px;
  /* Add padding from the left */
}

.announcement-heading h5 {
  margin: 0;
  /* Remove default margin */
}

.announcement-area {
  background-color: #f4c751;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* height: 50px; */
  padding: 5px 0;
  position: relative;
  padding-right: 50px;
  @media (max-width: 991px) {
    justify-content: center;
    padding-right: 0;
  }
}

.announcement-area::before {
  position: absolute;
  z-index: 1;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #f4c751;
  right: -10px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  z-index: 9;
}

.announcement-area h5 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #14297a;
  font-family: "Roboto", sans-serif;

  @media (max-width:991px){
    font-size: 16px;
  }
}

.announcement-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #14297a;
  /* Dark blue background color */
  color: #fff;
  /* White text color */
  /* border-radius: 0 5px 5px 0; */
  /* Rounded border on the right side */
  /* height: 50px; */
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-all-btn {
  background-color: #14297a;
  /* Dark blue background color */
  color: #fff;
  /* White text color */
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
}

.announcement-content a {
  color: white;
  font-size: 17px;
  text-decoration: none;
}
.carousel-control-next,
.carousel-control-prev {
  width: 2%;
  opacity: 1;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 3rem;
  height: 3rem;
}

.carousel-control-next {
  right: 10%;
}

.carousel-control-prev {
  left: 10%;
}

@media (max-width: 991px) {
  .carousel-item .gallery {
    display: flex;
    flex-wrap: nowrap;
  }

  .announcement-area::before {
    display: none;
  }

  .carousel-item .gallery .col-md-3 {
    width: 50% !important;
  }

  .carousel-item .gallery .col-md-3 img {
    border-radius: 10px;
  }

  .gallery img {
    border-radius: 10px;
  }
}

/* At 3000px  */

@media screen and (min-width: 2500px) and (max-width: 3000px) {
  .top-bar li,
  .top-bar button {
    font-size: 22px !important;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 20px !important;
  }

  .ombre-interne .carousel-inner {
    max-width: 2400px !important;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    height: 4rem !important;
    width: 4rem !important;
  }

  .announcement-content a {
    font-size: 30px !important;
  }
  .announcement-area h5 {
    font-size: 35px !important;
  }

  .footer .widget.dark .widget-title {
    font-size: 35px !important;
  }

  .footer a {
    font-size: 25px !important;
  }
  .page-visitor p {
    font-size: 25px !important;
  }
  .page-visitor button {
    height: 35px !important;
    width: 35px !important;
    font-size: 20px !important;
  }
  .widget #realTime {
    font-size: 25px !important;
  }
  .convocation-head-footer {
    font-size: 30px !important;
  }

  .footer #nacc {
    font-size: 2rem !important;
  }
  .footer #nacdd {
    font-size: 25px !important;
  }

  .footer .styled-icons i {
    height: 45px !important;
    width: 45px !important;
  }

  .weather-details h2 {
    font-size: 30px !important;
  }
  .weather-details p {
    font-size: 20px !important;
  }

  .weather-icon img {
    width: 100px !important;
  }

  .weather-container {
    padding: 20px !important;
  }

  .app-store h6 {
    font-size: 1.7rem !important;
  }
}

.weather-container-tab {
  display: none !important;
}
.page-visitor-tab {
  display: none !important;
}

@media screen and (min-width: 1030px) {
  #pageVisitorTab {
    display: none !important;
  }
}

@media screen and (max-width: 830px) {
  .weather-container-tab {
    display: flex !important;
  }
  .page-visitor-tab {
    display: flex !important;
  }
  .weather-container-general {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .weather-container-tab,
  #pageVisitorTab {
    display: none !important;
  }
  .page-visitor-tab {
    display: none !important;
  }
  .weather-container-general {
    display: flex !important;
  }
}

@media screen and (max-width: 1025px) {
  .visitor-desk {
    display: none !important;
  }
}
